/* ############ RESET ############ */


/* ############ TYPOGRAPHY ############ */
* {
	font-family: "Roboto", "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 500;
	color: #333;
	margin: 0;
}
p, ul > li {
  font-size: 4.2mozmm;
	line-height: 1.7em;
}
a {
	text-decoration: none;
	outline: none;
}
button {
  font-size: 4.2mozmm;
}

/* ############ LAYOUT ############ */
body {
  background-color: #d8d8d8;
}
#content {
  /*margin-top: 19mozmm;*/
}


/* ------ TOP BAR ------ */
#top {
  background-color: #333;
  margin: 0;
  padding: 3mozmm;
  height: 10mozmm;
  width: 100%;
  top: 0;
  z-index: 100000;
  width: inherit !important;
  /*position: fixed;*/
}
#topleft {
  float: left;
}
#topcenter {
  display: inline-block;
	left: 0;
	right: 0;
	position: absolute;
	text-align: center;
  margin: 3mozmm 6mozmm 0 0;
  font-size: 4.2mozmm;
  color: white;
}
#topright {
  float: right;
}
.baricon {
  width: 10.5mozmm;
}
.mainnav {
  background-color: #666;
  padding: 2mozmm;
  width: 30mozmm;
  z-index: 1000000000;
  position: absolute;
  top: 14mozmm;
}
.navitem {
  font-size: 4.2mozmm;
  line-height: 2mozmm;
  color: white;
}

/* ------ PRODUCT VIEW ------ */
.listitem {
  margin: 3mozmm 3mozmm 0;
}
.product {
  height: 24mozmm;
  background-color: white;
}
.productimg {
  height: 24mozmm;
}
.productinfo {
  display: inline-block;
  position: relative;
  top: -4.2mozmm;
  left: 3mozmm;
}
.listitemtitle {
  font-size: 4.2mozmm;
  margin-bottom: 1mozmm;
}
.productcount {
  font-family: "Roboto Condensed";
  font-weight: 900;
  font-size: 9mozmm;
}


/* ------ PRODUCT EDIT ------ */
.productwrap {
  z-index: -10000000000;
  overflow: visible;
}
.edit {
  display: none;
  height: 0;
  padding: 5mozmm;
  padding-top: 5mozmm;
  background-color: #f2f2f2;
  z-index: -100;
}
.productwrap:focus .edit {
  display: block;
  height: auto;
  margin-top: 0;
}
.productwrap:focus {
  height: 1mozmm;
}
.expirationrow {
  height: 12mozmm;
  margin-bottom: 4mozmm;
}
.expirationrow > *, .expirationrow > .countcontainer > *  {
  display: inline-block;
}
.countcontainer {
  float: right;
  width: 37mozmm;
}
.countcontainer > * {
  display: inline-block;
  float: right;
}
.date {
  margin-top: 2.8mozmm;
}
.btn {
  background-color: #d8d8d8;
  font-weight: 400;
  border: none;
  border-radius: none;
}
.countbtn {
  height: 12mozmm;
  width: 12mozmm;
  font-size: 8mozmm;
  padding: 0;
}
.itemcount {
  width: 13mozmm;
  text-align: center;
  font-size: 7.5mozmm;
  font-weight: 400;
  font-family: "Roboto Condensed";
  margin-top: 1mozmm;
}
.addexpdatebtn {
  width: 100%;
  text-align: center;
  font-weight: 600;
  padding: 3mozmm;
  margin-top: 1mozmm;
}


/* ------ LIST VIEW ------ */
.line {
  background-color: white;
  padding: 4mozmm 3mozmm;
}
.lineitemtitle {
  font-size: 4.2mozmm;
}




