/* ############ RESET ############ */


/* ############ TYPOGRAPHY ############ */
* {
	font-family: "Roboto", "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 500;
	color: #333;
	margin: 0;
}
p, ul > li {
	font-size: 1.25em;
	line-height: 1.7em;
}
a {
	text-decoration: none;
}

/* ############ LAYOUT ############ */
body {
  background-color: #d8d8d8;
}
#content {
  
}


#top {
  background-color: #333;
  margin: 0;
  padding: 3mozmm;
  height: 10mozmm;
  positon: static;
}
#topleft {
  float: left;
}
#topcenter {
  display: inline-block;
	left: 0;
	right: 0;
	position: absolute;
	text-align: center;
  margin: 3mozmm auto;
  font-size: 4.2mozmm;
  color: white;
}
#topcenter {
}
#topright {
  float: right;
}


.listitem {
  margin: 3mozmm 3mozmm 0;
}
.product {
  height: 24mozmm;
  background-color: white;
}
.productimg {
  height: 24mozmm;
}
.productinfo {
  display: inline-block;
  position: relative;
  top: -4.2mozmm;
  left: 3mozmm;
}
.listitemtitle {
  font-size: 4.2mozmm;
  margin-bottom: 1mozmm;
}
.productcount {
  font-family: "Roboto Condensed";
  font-weight: 900;
  font-size: 9mozmm;
}


.edit {
  margin-top: 0;
  padding: 5mozmm;
  padding-top: 5mozmm;
  height: 54mozmm;
  background-color: #f2f2f2;
}
.expirationrow {
  
}
.expirationrow > *, .expirationrow > .changecount > *  {
  display: inline-block;
}
.changecount {
  float: right;
  width: 36mozmm;
}
.countbtn {
  width: 11mozmm;
  color: #d8d8d8;
}
.itemcount {
  width: 12mozmm;
  text-align: center;
}
